
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  margin-left: -18px;
  margin-right: -18px;
}

.row:after, .container:after {
  content: '';
  clear: both;
  display: block;
}

[class*=col] {
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.col1 {  width: 8.33%;   }

.col2 {  width: 16.66%; }

.col3 {  width: 25%;      }

.col4 {  width: 33.33%; }

.col5 {  width: 41.66%; }

.col6 {  width: 50%;      }

.col7 {  width: 58.33%; }

.col8 {  width: 66.66%; }

.col9 {  width: 75%;      }

.col10 {  width: 83.11%; }

.col11 {  width: 91.66%; }

.col12 {  width: 100%;    }



.col-offset-1 {  margin-left: 8.33%;   }

.col-offset-2 {  margin-left: 16.66%; }

.col-offset-3 {  margin-left: 25%;      }

.col-offset-4 {  margin-left: 33.33%; }

.col-offset-5 {  margin-left: 41.66%; }

.col-offset-6 {  margin-left: 50%;      }

.col-offset-7 {  margin-left: 58.33%; }

.col-offset-8 {  margin-left: 66.66%; }

.col-offset-9 {  margin-left: 75%;      }

.col-offset-10 {  margin-left: 83.11%; }

.col-offset-11 {  margin-left: 91.66%; }

.col-offset-12 {  margin-left: 100%;    }
