
@font-face {
  font-family: 'WebSymbolsLiga';
  src: url('../fonts/websymbolsligaregular.eot');
  src:
  url('../fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/websymbolsligaregular.woff') format('woff'),
  url('../fonts/websymbolsligaregular.ttf') format('truetype'),
  url('../fonts/websymbolsligaregular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
}

.container {
  width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  margin-left: -18px;
  margin-right: -18px;
}

.row:after, .container:after {
  content: '';
  clear: both;
  display: block;
}

[class*=col] {
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.col1 {  width: 8.33%;   }

.col2 {  width: 16.66%; }

.col3 {  width: 25%;      }

.col4 {  width: 33.33%; }

.col5 {  width: 41.66%; }

.col6 {  width: 50%;      }

.col7 {  width: 58.33%; }

.col8 {  width: 66.66%; }

.col9 {  width: 75%;      }

.col10 {  width: 83.11%; }

.col11 {  width: 91.66%; }

.col12 {  width: 100%;    }



.col-offset1 {  margin-left: 8.33%;   }

.col-offset2 {  margin-left: 16.66%; }

.col-offset3 {  margin-left: 25%;      }

.col-offset4 {  margin-left: 33.33%; }

.col-offset5 {  margin-left: 41.66%; }

.col-offset6 {  margin-left: 50%;      }

.col-offset7 {  margin-left: 58.33%; }

.col-offset8 {  margin-left: 66.66%; }

.col-offset9 {  margin-left: 75%;      }

.col-offset10 {  margin-left: 83.11%; }

.col-offset11 {  margin-left: 91.66%; }

.col-offset12 {  margin-left: 100%;    }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}










/*//////////HEADER//////////*/

.page-header, .page-footer {
  padding-top: 19px;
  padding-bottom: 16px;
  background-color: #2c2c2c;
}

.logo {
  float: left;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: -3px;
}

.logo-text {
  vertical-align: middle;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.main-nav {
  float: right;
  text-align: right;
  font-size: 0;
}

.main-nav-list {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 7px 5px 10px;
  margin-left: 13px;
  list-style: none;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.main-nav-list:hover {
  border-color: #ffffff;
}

.main-nav-list:last-child {
  margin-right: -14px;
}

.main-nav-list__item {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

#scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(../img/scrolltop-btn.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}










/*//////////PROMO//////////*/

.promo {
  padding-top: 173px;
  padding-bottom: 97px;
  text-align: center;
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 16%;
}

.promo-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 66px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
}

.promo-btn {
  position: relative;
  display: inline-block;
  padding: 10px 12px 8px 13px;
  margin-top: 177px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  transition: all 0.3s ease;
}

.promo-btn:after {
  content: '';
  position: absolute;
  bottom: -65px;
  left: 50%;
  display: block;
  width: 18px;
  height: 29px;
  background-image: url(../img/promo-arrow.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  transform: translateX(-50%);
}

.promo-btn:hover {
  -webkit-animation: pulse 0.5s ease;
  -o-animation: pulse 0.5s ease;
  animation: pulse 0.5s ease;
  cursor: pointer;
}









/*//////////ADVANTAGES//////////*/

.advantages {
  padding-top: 86px;
  padding-bottom: 91px;
}

.advantages-list {
  padding-left: 0;
  font-size: 0;
}

.advantages-item {
  display: inline-block;
  list-style: none;
}

.advantages-item:before {
  content: '';
  float: left;
  display: inline-block;
  height: 50px;
  width: 65px;
  margin-right: 15px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
}

.advantages-item_like:before {
  background-image: url(../img/advantages-like.svg);
  width: 56px;
  height: 58px;
  margin-left: 9px;
  margin-right: 22px;
  margin-top: -2px;
}

.advantages-item_glasses:before {
  background-image: url(../img/advantages-glasses.svg);
  width: 75px;
  height: 58px;
  margin-left: -6px;
  margin-right: 22px;
  margin-top: 2px;
}

.advantages-item_photo:before {
  background-image: url(../img/advantages-photo.svg);
  width: 65px;
  height: 58px;
  margin-left: 9px;
  margin-right: 25px;
}

.advantages-item_zoom:before {
  background-image: url(../img/advantages-zoom.svg);
  width: 72px;
  height: 58px;
  margin-left: 3px;
  margin-right: 26px;
}


.advantages-item__text {
  margin-top: 9px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  line-height: 1.25;
}










/*//////////ABOUT//////////*/

.about {
  padding-bottom: 34px;
}

.about__title {
  margin-top: -7px;
  margin-bottom: 57px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.about__title:after {
  content: '';
  position: relative;
  top: 13px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
}

.about__text {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: -2px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  line-height: 24px;
}

.about:after {
  content: '';
  display: block;
  height: 1px;
  width: 1140px;
  margin: 34px auto 0;
  background-color: #cccccc;
}










/*//////////GALLERY//////////*/

.gallery {
  padding-top: 63px;
  padding-bottom: 87px;
  text-align: center;
}

.gallery__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 87px;
  margin-left: -8px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.gallery__title:after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: 3px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
  transform: translateX(-50%);
}

.gallery-items {
  padding-left: 59px;
  padding-right: 59px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-prev {
  width: 21px;
  height: 32px;
  background-color: #fff;
}












/*//////////FLIGHTS-HOW//////////*/

.flight-how {
  position: relative;
  padding-bottom: 599px;
  text-align: center;
  background-image: url(../img/flight-how-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.flight-how__title {
  position: relative;
  margin-top: 0;
  margin-left: 6px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.flight-how__title:after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -3px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
  transform: translateX(-50%);
}

.flight-how__path {
  position: absolute;
  top: 257px;
  float: left;
  width: 100%;
  height: 176px;
  background-image: url(../img/flight-how-path.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.flight-how__wrapper {
  position: relative;
  margin: 0 auto;
}

[class^=flight-how__text] {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #454545;
  text-shadow: 0 0 3px #b1c4a9;
}

[class^=flight-how__number] {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

[class^=flight-how__number]:after {
  content: '';
  position: absolute;
  left: 50%;
  top: -49%;
  z-index: -1;
  display: block;
  width: 44px;
  height: 65px;
  background-image: url(../img/flight-how.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  transform: translateX(-50%);
}

.flight-how__text_1 {
  top: 234px;
  left: 8px;
}

.flight-how__text_2 {
  top: 166px;
  left: 269px;
}

.flight-how__text_3 {
  top: 58px;
  left: 539px;
}

.flight-how__text_4 {
  top: 183px;
  left: 785px;
}

.flight-how__text_5 {
  top: 229px;
  left: 1063px;
}

.flight-how__number_1 {
  top: 276px;
  left: 26px;
}

.flight-how__number_2 {
  top: 232px;
  left: 305px;
}

.flight-how__number_3 {
  top: 101px;
  left: 565px;
}

.flight-how__number_4 {
  top: 226px;
  left: 828px;
}

.flight-how__number_5 {
  top: 273px;
  left: 1096px;
}










/*//////////COUNTER//////////*/

.counter {
  padding-top: 33px;
  padding-bottom: 31px;
  background-color: #f2f2f2;
}

.counter__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
  font-size: 32px;
  font-weight: 500;
  color: #26668e;
}










/*//////////PRICE//////////*/

.price {
  padding-top: 93px;
  padding-bottom: 15px;
}

.price__title {
  margin-top: -7px;
  margin-bottom: 58px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.price__title:after {
  content: '';
  position: relative;
  top: 13px;
  left: 1px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
}

.price__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  line-height: 24px;
}

.price-calculator__label {
  float: left;
  clear: left;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.price-calculator__label:first-child {
  margin-top: 9px;
}

.price-calculator__input {
  float: right;
  clear: right;
  width: 355px;
  padding: 9px 5px 8px 11px;
  margin-top: -9px;
  margin-bottom: 10px;
  margin-right: -1px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
}

.price-calculator__input:focus {
  -webkit-box-shadow: 0 0 0 2 #46b0dc;
  box-shadow: 0 0 0 2 #46b0dc;
}

.price-calculator__input::-webkit-input-placeholder {
  color:#444444;
  font-size: 18px;
  font-weight: 400;
}
.price-calculator__input::-moz-placeholder {
  color:#444444;
  font-size: 18px;
  font-weight: 400;
}
.price-calculator__input:-moz-placeholder {
  color:#444444;
  font-size: 18px;
  font-weight: 400;
}
.price-calculator__input:-ms-input-placeholder {
  color:#444444;
  font-size: 18px;
  font-weight: 400;
}

.price-calculator__input_select {
  position: relative;
  margin-top: 0px;
}

.price-calculator__input_select_wrap {
  position: relative;
}

.price-calculator__input_select_wrap:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 530px;
  top: 0;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-color: #e8e8e8;
  pointer-events: none;
}

.price-calculator__input_select_wrap:after {
  content: '';
  position: absolute;
  left: 530px;
  top: 22px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-color: #e8e8e8;
  pointer-events: none;
}


select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;     
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 14px;
    color: #333;
    text-align: center;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button:hover { 
    color: #236DCD;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:
}

.price-calculator__input_number_wrap {
  position: relative;
}

.price-calculator__input_number_wrap:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 530px;
  top: 60px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-color: #e8e8e8;
  pointer-events: none;
}

.price-calculator__input_number_wrap:after {
  content: '';
  position: absolute;
  left: 530px;
  top: 82px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-color: #e8e8e8;
  pointer-events: none;
}

.price-calculator__input_name {
  padding-left: 37px;
}

.price-calculator__input_name_wrap {
  position: relative;
}

.price-calculator__input_name_wrap:before {
  content: '';
  position: absolute;
  top: 132px;
  left: 210px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/contacts-name.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.price-calculator__input_phone {
   padding-left: 37px;
  padding-top: 10px;
}

.price-calculator__input_phone_wrap {
  position: relative;
}

.price-calculator__input_phone_wrap:before {
  content: '';
  position: absolute;
  top: 191px;
  left: 208px;
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(../img/contacts-phone.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.price-calculator__label_total {
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
}

.price-calculator__total-sum, .price-calculator__total-sum_rub {
  float: left;
  margin-top: 9px;
  margin-right: 9px;
  font-size: 38px;
  font-weight: 500;
  color: #f97e7e;
}

.price-calculator__submit {
  float: right;
  clear: right;
  padding: 10px 41px 10px 37px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #46b0dc;
  border-width: 0;
  border-radius: 5px;
}

.price-calculator__submit:hover {
  -webkit-animation: pulse 0.5s ease;
  -o-animation: pulse 0.5s ease;
  animation: pulse 0.5s ease;
  cursor: pointer;
}

.price-calculator__submit:active {
  background-color: #2a95c1;
}

.price:after {
  content: '';
  display: block;
  height: 1px;
  width: 1140px;
  margin: 50px auto 0;
  background-color: #cccccc;
}










/*//////////PAYMENT-FAQ//////////*/

.payment-faq {
  padding-top: 57px;
  padding-bottom: 77px;
}

.payment-faq__title {
  margin-top: 0px;
  margin-bottom: 48px;
  margin-left: -1px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.payment-faq__title:after {
  content: '';
  position: relative;
  top: 13px;
  left: 1px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
}

.payment-faq__subtitle {
  margin-top: 0px;
  margin-bottom: 26px;
  font-size: 26px;
  font-weight: 500;
  color: #444444;
}

.payment-faq__subtitle:nth-child(n+5) {
  margin-top: 51px;
}

.payment-faq__text {
  padding-right: 3px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #444444;
}

.payment-faq__list {
  padding-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.payment-faq__text_list {
  display: block;
  text-indent: -17;
  list-style: none;
}

.payment-faq__text_list:before {
  content: '—';
/*  float: left;*/
  margin-right: 4px;
}

.payment-faq__text_link {
  color: #444444;
}





.payment-faq__question {
  margin-bottom: 17px;
  margin-left: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
}

.payment-faq__question:before {
  content: '';
  float: left;
  position: relative;
  left: -17px;
  top: -7px;
  display: inline-block;
  width: 40px;
  height: 34px;
  background-image: url(../img/faq-bullet.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.payment-faq__question:first-of-type {
  margin-top: 57px;
}

.payment-faq__question:last-of-type {
  margin-bottom: 13px;
}

.payment-faq__answer {
  padding-right: 3px;
  margin-left: 78px;
  margin-bottom: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #444444;
}

.payment-faq__answer:first-of-type {
  margin-bottom: 60px;
}










/*//////////STATS//////////*/

.stats {
  padding-top: 72px;
  padding-bottom: 65px;
  background-image: url(../img/stats-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.stats-list {
  margin-left: -7px;
  margin-right: -11px;
  padding-left: 0;
  font-size: 0;
}

.stats-item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.stats-item__number {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  line-height: 160px;
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.stats-item__caption {
  margin-top: 21px;
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}

.stats-item:nth-of-type(1) .stats-item__caption{
  margin-left: -10px;
}

.stats-item:nth-of-type(2) .stats-item__caption{
  margin-left: -7px;
}

.stats-item:nth-of-type(3) .stats-item__caption{
  margin-left: -5px;
}

.stats-item:nth-of-type(4) .stats-item__caption{
  margin-left: -2px;
}










/*//////////TEAM//////////*/

.team {
  padding-top: 93px;
  text-align: center;
}

.team__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 87px;
  margin-left: -8px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.team__title:after {
  content: '';
  position: absolute;
  bottom: -28px;
  left: 50%;
  margin-left: 4px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
  transform: translateX(-50%);
}

.team-person__photo {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.team-person__photo_maria {
background-image: url(../img/team-maria.jpg);
}

.team-person__photo_nadejda {
background-image: url(../img/team-nadejda.jpg);
}

.team-person__photo_irina {
background-image: url(../img/team-irina.jpg);
}

.team-person__photo_alena {
background-image: url(../img/team-alena.jpg);
}

.team-person__photo_maria:hover, .team-person__photo_nadejda:hover{
  background-image: url(../img/team-pilot.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 104px 39px;
  background-size: 104px 39px;
  background-color: #474747;
  cursor: pointer;
}
.team-person__photo_irina:hover{
  background-image: url(../img/team-control.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 38px 89px;
  background-size: 38px 89px;
  background-color: #474747;
  cursor: pointer;
}
.team-person__photo_alena:hover{
  background-image: url(../img/team-technic.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 71px 71px;
  background-size: 71px 71px;
  background-color: #474747;
  cursor: pointer;
}

.team-person__name {
  margin-top: 29px;
  margin-left: 2px;
  display: block;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.team-person__position {
  margin-top: 9px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
}










/*//////////REVIEWS//////////*/

.reviews {
  padding-top: 106px;
  padding-bottom: 52px;
  text-align: center;
}

.reviews__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: -8px;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.reviews__title:after {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 50%;
  margin-left: 4px;
  display: block;
  height: 6px;
  width: 62px;
  background-color: #3e98d7;
  transform: translateX(-50%);
}

.reviews-item__photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.reviews-item__author {
  display: block;
  margin-top: 22px;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.reviews-item__text {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  color: #444444;
}










/*//////////CONTACTS//////////*/

.contacts {
  padding-top: 140px;
  background-image: url(../img/contacts-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts-airport__title {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #444444;
}

.contacts-airport__title:before {
  content: '';
  position: absolute;
  top: -84px;
  left: 50%;
  display: block;
  width: 62px;
  height: 62px;
  margin-left: 4px;
  background-image: url(../img/contacts-airport_plane.svg);
  -webkit-background-size: 41px, 40px;
  background-size: 41px, 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #337ba0;
  border-radius: 9px;
  transform: translateX(-50%);
}

.contacts-airport__adress {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #616161;
}





.contacts-office {
  padding-left: 57px;
  padding-bottom: 61px;
}

.contacts-office__title {
  position: relative;
  display: block;
  margin-bottom: 11px; 
  font-size: 22px;
  font-weight: 500;
  color: #2b2b2b;
}

.contacts-office__title:before {
  content: '';
  position: absolute;
  left: -56px;
  top: 5px;
  display: block;
  width: 35px;
  height: 50px;
  background-image: url(../img/contacts-pin.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-office__adress, .contacts-office__open-time {
  display: block;
  margin-left: 2px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #525252;
}

.contacts-office__phone {
  display: block;
  margin-top: 14px;
  margin-left: 3px;
  font-size: 26px;
  font-weight: 500;
  color: #292929;
  text-decoration: none;
}

.contacts-links__mail {
  position: relative;
  display: block;
  margin-left: 49px;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.contacts-links__mail:before {
  content: '';
  position: absolute;
  left: -44px;
  top: 8px;
  display: block;
  width: 23px;
  height: 17px;
  background-image: url(../img/contacts-mail.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.contacts-links__social {
  display: inline-block;
  margin-top: 26px;
  margin-left: 6px;
  margin-right: 11px;
  font-family: "WebSymbolsLiga";
  font-size: 22px;
  color: #444444;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contacts-links__social:hover {
  color: #6f7479;
  cursor: pointer;
}




/*//////////FOOTER//////////*/